.classOne {
    font-size: 25px;
    font-weight: bold;
}

.classTwo {
    color: blue;
    background-color: burlywood;
    font-style: italic;
}

.One {
    color: cadetblue;
}

.italicText{
    font-style: italic;
 
}